* text=auto eol=lf

*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.dds binary
*.ktx binary
*.gltf binary
*.glb binary
*.fbx binary
*.blend binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.spv binary